@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #1e293b;
    --card: #ffffff;
    --card-foreground: #1e293b;
    --popover: #ffffff;
    --popover-foreground: #1e293b;
    --primary: #1a63d0;
    --primary-foreground: #f8fafc;
    --secondary: #ffffff;
    --secondary-foreground: #1a63d0;
    --muted: #e5e5e6;
    --muted-foreground: #1e293b;
    --accent: #eef2ff;
    --accent-foreground: #3d8bff;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #e2e8f0;
    --input: #ffffff;
    --ring: #3d8bff;
    --chart-1: #3b82f6;
    --chart-2: #22c55e;
    --chart-3: #f59e0b;
    --chart-4: #22c55e;
    --chart-5: #ef4444;
    --sidebar: #f7f8f8;
    --sidebar-foreground: #1e293b;
    --sidebar-primary: #3d8bff;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #eef2ff;
    --sidebar-accent-foreground: #3d8bff;
    --sidebar-border: #e2e8f0;
    --sidebar-ring: #3d8bff;
    --radius: 1rem;
  }

  .dark {
    --background: #000000;
    --foreground: #e7e9ea;
    --card: #17181c;
    --card-foreground: #d9d9d9;
    --popover: #000000;
    --popover-foreground: #e7e9ea;
    --primary: #1c9cf0;
    --primary-foreground: #ffffff;
    --secondary: #f0f3f4;
    --secondary-foreground: #0f1419;
    --muted: #181818;
    --muted-foreground: #72767a;
    --accent: #061622;
    --accent-foreground: #1c9cf0;
    --destructive: #f4212e;
    --destructive-foreground: #ffffff;
    --border: #242628;
    --input: #22303c;
    --ring: #1da1f2;
    --chart-1: #1e9df1;
    --chart-2: #00b87a;
    --chart-3: #f7b928;
    --chart-4: #17bf63;
    --chart-5: #e0245e;
    --sidebar: #17181c;
    --sidebar-foreground: #d9d9d9;
    --sidebar-primary: #1da1f2;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #061622;
    --sidebar-accent-foreground: #1c9cf0;
    --sidebar-border: #38444d;
    --sidebar-ring: #1da1f2;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
